nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
    gap: 1rem;
    width: 100%;
    button {
        flex: 1;
        border: none;
        background-color: var(--dark);
        color: var(--white);
        font-size: 20px;
        padding: 1rem;
        border-radius: 0%;
        a {
            text-align: left;
            justify-content: flex-start;
            text-decoration: none;
            color: var(--white);
        }
    }

    button.active {
        background-color: var(--white);
        color: var(--dark);
        a {
            color: var(--dark);
        }
    }
}