
header {
    margin: 0;
    padding: 0;
    padding-top: 8rem;
    background-color: var(--white2);
    width: 1250px;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: var(--dark);
        width: 90%;
        width: 1250px;
        justify-content: center;
        align-items: center;
    }
}