@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #ffffff;
    --white2: #E1E5EE;
    --dark: #2A324B;
    --blue: #58699D;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white2);
    header {
        padding-top: 8rem;
        background-color: var(--white2);
        width: 1250px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }
}