@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #ffffff;
    --white2: #E1E5EE;
    --dark: #2A324B;
    --blue: #58699D;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white2);
    margin: 0;
    padding: 0;
    
}